# macOS system files
.DS_Store

# Python cache
__pycache__/
*.pyc

# Virtual environment folders
venv_energymap/
.venv/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Raster and large data artifacts
*.tif
*.zip

# Temporary files
*.log
