# Ignore Jupyter and VSCode cache files
notebooks/cache/
__pycache__/
*.ipynb_checkpoints
.DS_Store

# macOS system files
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.pyc

# Virtual environment folders
venv_energymap/
.venv/

# Jupyter notebook checkpoints
.ipynb_checkpoints/
*.ipynb_save

# Raster and large data artifacts
*.tif
*.zip

# Temporary files
*.log

# VS Code workspace settings
.vscode/

# Environment files
.env
*.env

# Generated or processed data
data_processed/*.csv
data_processed/*.geojson

# Python packaging and build folders
*.egg-info/
dist/
build/
